# Ignore environment and credentials
.env
config_files/hashicorp_vault_config.json
config_files/aws_config.json

# Ignore Python cache and virtual environments
__pycache__/
*.pyc
.venv/
.idea/

# Ignore .py files that are not complete or relevant for the moment